<footer class="footer bg-dark mt-5">
<div class="container-fluid">
<span><i class="far fa-copyright"></i> 2018-2019 PH01L, <a href="https://www.thomaslaurenson.com/">Thomas Laurenson</a>. Developed with <i class="fas fa-heart"></i> and <i class="fas fa-coffee"></i> using <a href="https://jekyllrb.com/">Jekyll</a>, <a href="https://getbootstrap.com/">Bootstrap</a> and <a href="https://fontawesome.com/">Font Awesome</a></span><br>
<span><i class="far fa-copyright"></i> 2000-2019 <a href="http://www.runescape.com/">RuneScape</a><i class="far fa-registered"></i> and <a href="http://www.jagex.com/">Jagex</a><i class="far fa-registered"></i> are trademarks of Jagex Ltd.</span>
</div>
</footer>